python-dotenv
fastapi
uvicorn[standard]
pinecone-client
langchain
langchain-text-splitters
langchain-google-genai
langchain-pinecone
langchain-core
google-generativeai
pypdf
requests
python-multipart
langsmith
pydantic
